div{
    width: 300px;
    border: 15px rgb(117, 142, 192);
    border-style: double;
    border-end-end-radius: 50px;
    padding: 50px;
    margin: 200px;
    margin-left: 550px;
}

#count{
    text-align: center ;
}

#increment-btn{
    text-align: center;
    align-self: center;
}
